@model IEnumerable<DEXAGROUP.Models.Outlets>

@{
    ViewData["Title"] = "Index";
}

<h5 class="font-weight-bold text-primary"><i class="icon-location4 mr-1"></i> Outlet List</h5>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="icon-plus22 mr-1"></i> Create</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>
                @Html.DisplayNameFor(model => model.OutletName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int No = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@No</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OutletName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OutletID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.OutletID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.OutletID">Delete</a>
                    </td>
                </tr>
                No++;
            }
        }
    </tbody>
</table>
